*.zip
wgan/checkpoints
wgan/experiments
wgan/results
wgan/samples
wgan/wandb
wgan/dataset
diffusers/raw
diffusers/shadowmagic_controlnet
diffusers/shadowmagic_xl
diffusers/pretrained
diffusers/base_model

